Inflexible Requirement #1
Zero coupling between child projects
No importing of functions/objects/classes/etc
No shared state
Shared libraries through MF (module federation) is OK

Inflexible Requirement #2
Near-zero coupling between container and child apps
Container shouldn't assume that a child is using a particular framework
Any necessary communication done with callbacks or simple events

Inflexible Requirement #3
CSS from one project shouldn't affect another

Inflexible Requirement #4
Version control (monorepo vs separate) shouldn't have any impact on the overall project
Some people wants to use monorepos
Some people want to keep everything in a separate repo

Inflexible Requirement #5
Container should be able to decide to always use the latest version of a microfrontend or specify a specific version
(1) Container will always use the latest version of a child app (doesn't require a redeploy of container)
(2) Container can specify exactly what version of a child it wants to use (requires a redeploy to change)

Deployment Requirements

Want to deploy each microfrontend independently (including the container)
Location of child app remoteEntry.js files must be known at build time!
Many front-end deployment solutions assume you're deploying a single project-
we need something that can handle multiple different ones
Probably need a CI/CD pipeline of some sort
At present, the remoteEntry.js file name is fixed! Need to think about caching issues


